body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.menu, .footer, .about {
    background-color: #1F2937;
}

/*menu*/

.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo {
    color:#F9FAF8;
    font-size: 24px;
    align-items: center;
}

.links {
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap: 25px;
}

.link, .description, a {
    color:#E5E7EB;
    text-decoration: none;
}

/*title*/

.about {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    gap: 100px;
}

.presentation {
    width: 500px;
    display: flex;
    flex-direction:column;
    margin:50px 0;
}

.title {
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900px;
    margin: 0;

}

button {
    background-color: #3882F6;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border-color: #3882F6;
}

.budapest {
    width:400px;
    height: auto;
    margin: 100px 0;
    border-color:transparent;
    border-radius:0;
}

/*Information*/

.information {
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:100px;
}

h2 {
    font-size: 60px;
    color: 1F2937;
    font-weight: 900px;
}

.places {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 40px;
}

img{
    width: 250px;
    height: 200px;
    border-radius: 8px;
    border:#6098f3 3px solid;
    justify-content:center;
    display:block;
    margin:auto;
}

.info {
    color:#59677a;
    text-align:center;
}

/*Cite*/

.cite {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:100px;
    background-color:#E5E7EB;
    gap: 10px;
}

.text {
    font-size: 36px;
    color:#1F2937;
    font-weight: 300px;
}

.author {
    align-self:flex-end;
}




